html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --green: #6CAC00;
    --grey: #F0F0F0;
    --white: #FFFFFF;
    --black: #000000;
    --hulk1:#A3CD48;
    --hulk2:#B9E584;
    --font-xl: 3 rem;
    --font-m: 1.5 rem;
    --font-s: 1 rem;
}


body {
    background-color: var(--white);
}

.header-container {
    
}

/* Header */
header {
    background-color: var(--grey);
}
.brand-search-login-container {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand-container {
    display: flex;
    align-items: flex-end;
}

.logo-container {

}

.logo {
    
    height: clamp(3rem, 10vw, 7rem);
}

.slogan-container {
    justify-self: end;
}

.slogan {
    width: clamp(9rem, 30vw, 22rem);
}

.search-login-container {
    display: flex;
    align-items: center;
    gap: max(10px, 1.5vw);
    padding-right: max(10px, 1.5vw);
}
.search-login-container div +  div {
    align-self: center;
}

.search-bar {
    display: none;
    background-color: var(--grey);
    border-radius: 10px;
    width: max(25vw, 250px);
    padding: 5px;
}

.search-login-container div > a {
    color: var(--grey);
    font-size: clamp(0.7rem, 2vw, 1.4rem);
}
.search-login-container div {
    
    line-height: 0.9;
}


.tbr1::after{
    content: "\a";
    white-space: pre;
}
#content2::before{
    content: "\a";
    white-space: pre;
}


.navbar-container {
    padding-left: max(10px, 1.2vw);
}


.navbar-container ul li > a{
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
}



.hamburguesa i {
    display: block;    
}

#toggle-menu {
    display: none;
}

#toggle-menu, .hamburguesa {
    margin-bottom: 0;
}


.navbar-list {
    display: none;
    

}
.navbar-list a{
    
}

/* #toggle-menu:checked + .navbar-list {
    display: block;
    margin-bottom: 0;
    
    
} */



.hidden {
    display: none;
}


/* Modal */

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

/* Overlay */

.overlay {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(19, 20, 21, 0.20);
    display: none;
}

.carrito {
    position: absolute;
    background: gray;
    width: max(453px, 15vw);
    /* width: clamp(9rem, 30vw, 30rem); */
    min-height: 100vh;
    left: 1660px;
    top: 0px;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    z-index: 9999999;
    padding: 30px 25px;
    display: none;
    flex-direction: column;
    
    
}
.carrito p, span {
    line-height: 1;
    font-size: clamp(0.65rem, 1.5vw, 1.2rem);
}

.carrito span {
    align-self: center;
    font-weight: bold;
    
}

.cart-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.cart-product {
    width: 100%;
    display: flex;
    height: 150px;
    align-items: center;
    
}

.cart-product-info {
    
}
.cart-product img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding-right: 10px;
}
.cart-btns {
    display: flex;
}

.cart-total {
    display: flex;
    justify-content: center;
}

.cart-end {
    display: flex;
    justify-content: center;
}







.active {
    display: block;
}



.active-btn {
    background: green;
}



/* Título */


.t1 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
}


/* Carrousel */
.carrousel-container{
    
    
}
.carousel-item > img{
    
    max-height: 600px;
    width: auto;
}

/* Productos */

main {
    height: 100vh;
}



/* About */

main {
    height: 70vh;
}





/* Slogan */
.bh {
    height: 3px;
    width: min(70%, 600px);
    background-color: var(--hulk2);
    color: var(--hulk2);
    margin: 20px auto;
}
.t2 {
    font-size: clamp(1.2rem, 2vw, 3rem);
    text-transform: uppercase;
    text-align: center;
}

/* Carrito */

.open-menu {
    display: block;
}














/* Galería */
.galeria-container {
    
}
.img-container {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img-container:hover {
    
    transition: all 500ms;
}

.img-container > a:hover {
    text-decoration: none;
    color: var(--hulk2);
}


.gal-img-1 {
    background-image: url(/assets/img/protein.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gal-img-2 {
    background-image: url(/assets/img/ganadorpeso.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gal-img-3 {
    background-image: url(/assets/img/fat-burner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gal-img-4 {
    background-image: url(/assets/img/creatine.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gal-img-5 {
    background-image: url(/assets/img/vitamin.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gal-img-6 {
    background-image: url(/assets/img/preworkout.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}   
.gal-img-7 {
    background-image: url(/assets/img/indumentaria.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-container div a h3 {
    color: var(--grey);
    filter: brightness(600%);
    font-size: clamp(1.75rem, 3vw, 3rem);
}


/* Contacto */
input[type=text], input[type=email], textarea, input[type=submit], input[type=password] {
    width: 100%;
    border-radius: max(4px);
}
input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=password]:focus {
    background-color: var(--hulk2);
}
input[type=submit]:hover {
    cursor: pointer;
}
.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, var(--white), var(--hulk2));
    height: clamp(3rem, 10vw, 7rem);
}
.form-title h2{
    font-size: clamp(1.7rem, 3vw, 2.5rem);
}
.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.contacto-wrapper {
    border: 2px solid var(--grey);
    box-shadow:9px 11px 14px -10px rgb(25 33 46 / 26%);
    padding: max(10px, 1.5vw);
    border-radius: 5px;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
#apellido, #nombre, #correo, #msg {
    width: 100%;
}
.user-submit {
    justify-self: center;
    padding: 5px 10px;
}

/* Login/register */

.login-form-container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;

}
.login-container, .reg-container {
    border: 2px solid var(--grey);
    box-shadow:9px 11px 14px -10px rgb(25 33 46 / 26%);
    padding: max(10px, 1.5vw);
    width: 100%;
    margin-top: max(10px, 1.5vw);
    border-radius: 5px;
}
.password-label {
    display: block;
}

.login-container div div {
    padding: 5px 10px;
}
.reg-container div div {
    padding: 5px 10px;
}



/* Data */
.data-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.data-container > div{
    padding: max(10px, 1.5vw);
    width: 100%;
    text-align: center;
    
}
.data-container div > p{
    font-size: clamp(0.65rem, 1.5vw, 1.5rem);
    font-weight: bold;
}

.data-container div:nth-child(1) {
    
    
}
.data-container div:nth-child(2) {
    border-top: 2.5px solid var(--hulk2);
    border-bottom: 2.5px solid var(--hulk2);
    padding-left: 10px;
    padding-right: 10px;
}



/* Footer */

footer {
    background-color: var(--grey);
    
}
.footer-b {
    background-color: var(--grey);
/*     position: relative;
    bottom: 0; */
    width: 100%;

}

footer > div{
    display: flex;
    justify-content: right;
    align-items: baseline;
}

.slogan-container2 {
    padding: max(10px, 1.2vw);
    
}
.logof {
    height: clamp(1.2rem, 4vw, 3rem);
}
.horarios-container {
    padding: max(10px, 1.2vw);
    display: flex;
    flex-direction: column;
    
}

.horarios-container div div{
    line-height: 70%;
}

.redes-container {
    padding: max(10px, 1.2vw);
}


.brand-container {
    display: flex;
    align-items: flex-end;
}
.brand-container img{
    align-self: baseline;
}
footer div div {
    width: max(30%, 150px);
    
}
footer div > p {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

footer div div > h4 {
    font-size: clamp(1.2rem, 2vw, 2.2rem);
}

/* Icons responsive*/

.bi-person, .bi-cart2 {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
}
.bi-facebook, .bi-instagram, .bi-twitter, .bi-youtube {
    font-size: clamp(0.5rem, 2.8vw, 1.7rem);
}
i:hover {
    cursor: pointer;
    color: var(--hulk2);
}
i:checked {
    color: var(--hulk2);
}
footer div > a {
    text-decoration: none;
    color: var(--root);
}

/* Queries */

@media screen and (min-width: 43rem) {
    /* Hamburguesa */
    #toggle-menu, .hamburguesa {
        display: none;
    }
    .navbar-list {
        display: flex;
        gap: 1%;
        margin-bottom: 0;
    }
    /* Carrousel */



    /* Galeria */
    .galeria-container {
        display: grid;
        grid-template-areas: 
        "prot quem"
        "prot cr"
        "gan pree"
        "vit ind";
        gap: 15px;
        width: 80%;
        margin: 50px auto;
        border-radius: 20px;
    }
    /* Login */
.login-form-container {
    display: flex;
    flex-direction: row;
    }

.login-container, .reg-container {
    width: 40%;
}
.reg-container {
    height: 65%;
}
.user-submit2 {
    width: 50%;
    margin: 0 auto;
}



    /*  */
    .bh1 {
        margin-top: 50px;
    }

    .prot {
        grid-area: prot;
        height: 100%;
    }
    .quem {
        grid-area: quem;
    }
    .cr {
        grid-area: cr;
    }
    .gan {
        grid-area: gan;
        height: 300px;
    }
    .pree {
        grid-area: pree;
        height: 300px;
    }
    .vit {
        grid-area: vit;
    }
    .ind {
        grid-area: ind;
    }


    .img-container {
        border-radius: 5px;
        box-shadow:9px 11px 14px -10px rgb(25 33 46 / 26%)
    }

    /* contacto */

    .contacto-wrapper {
        height: 80%;
        width: 50%;
        
    }
    
    .user-submit {
        width: 30%;
        margin: 0 auto;
    }
    .user-msg {
        height: 50%;
    }
    textarea {
        height: 100%;
    }
    .user-wrapper {
        margin: 0 auto;
        height: 90%;
    }

}

@media screen and (min-width: 62rem){
    .carrousel-container{
    width: 80%;
    margin: 50px auto;
    border: 0.7px solid var(--black);
    border-radius: 5px;
    box-shadow:9px 11px 14px -10px rgb(25 33 46 / 26%)
    }
    

    .search-bar {
        display: block;
    }
    
    /* Data */
    .data-container {
        display: flex;
        flex-direction: row;
        margin: 0 20px;
        width: 80%;
        margin: 50px auto;
    }
    .data-container > div{
        padding: max(10px, 1.5vw);
        width: max(50%, 150px);
        text-align: center;
    }
    .data-container div > p{
        font-size: clamp(0.65rem, 1.5vw, 1.2rem);
        
    }
    
    .data-container div:nth-child(2) {
        border-left: 2.5px solid var(--hulk2);
        border-right: 2.5px solid var(--hulk2);
        padding-left: 10px;
        padding-right: 10px;
        border-top: 0;
        border-bottom: 0;
    }
    .data-container div:nth-child(1) {
        border-top: 0;
        margin-top: 0;
    }
}




/* Productos */
.products-container {
    justify-content: center;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;;
}

.card {
    flex-direction: row;
    width: 600px;
    
}
.card img {
    height: 100%;
    width: 200px;
}

